/data
!/data/mp3s/**/*.mp3
!/data/abs/**/*.json
!/data/oai-metadata.json
!/data/arxiv_src_manifest.xml
!/data/arxiv_pdf_manifest.xml

# OS files
.DS_Store

# Python venv
**/venv

# Metadata fetcher data
metadata_fetcher/licenses/
metadata_fetcher/final_licenses_list.txt
metadata_fetcher/excel_metadata_results/

# Walrus upload data
walrus_upload/pdfs/
walrus_upload/upload_log.txt

# App pdf data
app/public/pdf

# Rust build
**/target

# Node modules
**/node_modules
